# Виртуальное окружение (самое тяжелое)
venv/
.venv/
env/
ENV/

# Кэш Python и YOLO
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.curve/
.ultralytics/
yolov8n-seg.pt

# Снимки для калибровки (чтобы не забивать репозиторий гигабайтами картинок)
# Если хотите сохранить их на Гит, просто удалите две строчки ниже
images/left/
images/right/

# Системные файлы ОС
.DS_Store
Thumbs.db
.idea/
.vscode/

# Результаты калибровки (опционально, но лучше генерировать на месте)
# *.npz
